//backgrounds
$white-1: rgba(246, 248, 250, 1);
$white-2: rgba(255, 255, 255, 1);
$white-3: rgba(236, 239, 242, 1);

//colors
$black: black;
$black-1: rgba(0, 0, 0, 0.87);
$gray: #dfdfdf;
$gray-1: rgba(94, 100, 106, 1);
$white: rgb(255, 255, 255);

//borders
$border-1: 1px solid rgba(236, 239, 242, 1);

//shadows
$shadow-1: 0px 12px 24px rgba(0, 0, 0, 0.1);



